/* food items container styles */
.itemContainer {
  display: flex;
  /* box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.2); */
  border-color: black;
  padding: 2px;
}

.nameButtonCardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 25%;
  min-width: 50%;
  max-width: 50%;
  vertical-align: middle;
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0px 2px 2px#0f172a66;
  /* rgba(0, 0, 0, 0.3); */
  margin: 6px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
  padding-top: 10px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  border-radius: 25%;
  min-width: 50%;
  max-width: 60%;
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0px 2px 2px #0f172a66;
  margin: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 6px;
}

.itemName {
  font-size: 1.1em;
  font-style: bold;
  margin: auto;
}

.itemContent {
  text-align: center;
  margin: auto;
}

.buttonItem {
  background-color: #0f172a;
  color: whitesmoke;
  font-size: 14px;
  border: none;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5%;
}
/* food details container */
.foodDetailCotainer {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  color: azure;
  align-items: center;
  max-height: 768px;
  max-width: 30%;
  margin: 6px;
  margin-left: 12px;
  padding: 12px;
  border-radius: 2px;
  overflow: scroll;
  box-shadow: 0 3px 8px #0f172a66;
  /* ; */
  font-family: "Montserrat", "Cambria", "Cochin", "Times New Roman", serif;
}

.recipeDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  box-shadow: 0 3px 8px #bfc5d466;
  min-width: 75%;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .itemName {
    font-size: 0.8em;
    font-style: bold;
  }

  .itemContent {
    text-align: center;
  }

  .buttonItem {
    background-color: #0f172a;
    color: whitesmoke;
    font-size: 12px;
    border: none;
    min-width: 33%;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5%;
  }
}
